$BORDER: #dddddd;
$BORDER2: #d2d2d2;
$TEXT: #3b3b3b;
$TITLE: #150402;
$WHITE: #ffffff;
$BG_WHITE: #f4f9fa;
$BLACK: #000000;
$GRAY: #878787;
$BG_GRAY: #5e5e5e;
$ORANGE: #ea5504;
$BG_ORANGE: #EB9774;
$YELLOW: #f9ffbd;
$COLOR_SELECT: #888888;
$BG_PAGINATION: #b9b9b9;
$RED: #dc0006;
$BG_G_GREEN: #88ad9b;
$BG_GREEN1: #66a688;
$BG_GREEN2: #179d83;
$BG_BROWN: #dfa27a;
$BLUE: #5fa3b7;
$BG_BLUE: #8dc1d0;
$BG_BLUE2: #F4F9FA;
$DOT_SLIDE: #d7d7d7;
$BG_PINK1: #f6e7e7;
$BG_PINK2: #e5abbe;
$BG_PINK3: #ea8baa;
$PLACEHOLDER: #bababa;