$FS10: 1rem;
$FS11: 1.1rem;
$FS12: 1.2rem;
$FS13: 1.3rem;
$FS14: 1.4rem;
$FS15: 1.5rem;
$FS16: 1.6rem;
$FS18: 1.8rem;
$FS20: 2rem;
$FS21: 2.1rem;
$FS22: 2.2rem;
$FS23: 2.3rem;
$FS24: 2.4rem;
$FS28: 2.8rem;
$FS30: 3rem;
$FS32: 3.2rem;
$FS46: 4.6rem;
$FS52: 5.2rem;